# Ejemplo de configuración de entorno para React (frontend)
# Para desarrollo local (frontend y backend en Docker, accediendo desde el navegador en el host):
REACT_APP_API_URL=http://localhost:8000

# Para entorno Docker puro (SSR, tests, etc, accediendo desde otro contenedor):
# REACT_APP_API_URL=http://backend:8000 